data/index-plain/*
!data/index-plain/.gitkeep
data/index-deep/*
!data/index-deep/.gitkeep
data/upload/*
!data/upload/.gitkeep
data/chroma/*
!data/chroma/.gitkeep
backend/target/
frontend/.venv/
__pycache__/
*.pyc
.pytest_cache/
.idea/
*.iml
.DS_Store
